$primary-color: #F1FE28;
$secondary-color: #AE141C;
$border-color: #B1B1B1;;
$white: #fff;
$black: #000;
$font-size-5rem: 5rem;
$gap-size: 2.5rem;

* {
    scrollbar-width: thin;
    scrollbar-color: #ffffff $black;
}

*::-webkit-scrollbar {
    height: 8px;
    width: 8px;
    color: $black;
}

*::-webkit-scrollbar-track {
    background: #e4e4e4;
}

*::-webkit-scrollbar-thumb {
    background-color: $black;
}