.footer-container {
    display: flex;
    min-height: calc(100vh - 95px);
    width: 100%;
    background-color: #000;
    justify-content: center;
    padding: 1rem 0;
    flex-wrap: wrap;
    

   .footer-content {
        width: 60%;
        display: flex;
        flex-flow: column wrap;
        gap: 2.5rem;

        .footer-top-section {
            display: flex;
            flex-flow: column wrap;

            .footer-logos-section {
                display: flex;        
                justify-content: space-between;

                .footer-logo {
                    height: 3rem;
                    width: 3rem;
                }

                .footer-facebook-icon {
                    color: #F1FE28;
                }
            }
            
            
        }
        .footer-links-section {
            display: flex;        
            justify-content: space-between;
            flex-wrap: wrap;
            border-top: 2px solid #F1FE28;

            .footer-links {
                font-size: 1.3rem;
                font-weight: 300;
                line-height: 40px;
                text-decoration: none;
                color: #F1FE28;
            }
        }

        .footer-bottom-section {
            display: flex;
            justify-content: space-between;
            border-top: 2px solid #F1FE28;
            color: #F1FE28;
            flex-flow: column wrap;

            .footer-privacy-politicy {
                display: flex;
                justify-content: space-between;
                width: 100%;
                flex-wrap: wrap;
            }
        }
    }
}

@media(max-width:991px){
    .footer-links-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}