@use "../../assets/scss/variables.scss" as *;

.player-card-container {
  background-image: url("../../assets/player-card-background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 300px;
  height: 400px;
  position: relative;

  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0 30px 30px;
    // transform: scale(1.1);
    transition: 0.4s;
      opacity: 1;
    }

    .fullname {
      display: none;
    }
  }


.player-card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shirt-number {
  position: absolute;
  top: 1rem;
  right: 1rem;
  color: $white;
  font-weight: 600;
  font-size: 2rem;
}

.fullname {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  flex-direction: column;
  position: absolute;
  height: 30%;
  bottom: 0;
  color: $white;
  font-size: 1.3rem;
  font-weight: 400;

  .lastname {
    font-weight: 600;
    font-size: 1.7rem;
  }
}

.player-team-image {
  position: absolute;
  height: 3rem;
  width: 3rem;
  top: 1rem;
  left: 1rem;
  color: $white;
  font-weight: 600;
  font-size: 1.7rem;
}

.player-details {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  height: 30%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.35);
  color: $white;
  padding: 0 3rem;
  gap: 5px;
  bottom: 0;
  opacity: 0;
  box-shadow: rgba(0, 0, 0, 1) 0 -30px 50px;
  backdrop-filter: blur(10px);
  border-radius: 10px 10px 0 0;

  .player-detail {
    display: flex;
    justify-content: space-between;
    font-size: 1.3rem;
    border-bottom: 1px solid $border-color;

    .player-category-value {
      font-weight: 600;
    }
  }
}

@media (max-width: 991px) {
  .player-card-container {
    width: 200px;
    height: 300px;
  }
}

