@import "../../assets/scss/variables.scss";

.players-page-container {
    min-height: calc(100vh - 74px);
    // background-color: $black;
    width: 100%;

    .players-page-title {
        display: flex;
        align-items: center;
        justify-content: center;
        -webkit-text-fill-color: #000;
        -webkit-text-stroke-width: 3px;
        height: 300px;
        background-image: url('../../assets/player-card-background.jpg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .players-page-players {
        padding: 0 2rem;

        .players-page-title-players {
            grid-column: span 3;
        }
        
        .players-section {
            display: grid;
            align-self: center;
            justify-content: center;
            margin: 2rem 0;
            gap: 3rem 4rem;
            grid-template-columns: repeat(3, 300px);
        }
    }
}
